<h1> <%= @message %> </h1>

<h2> Event Received <%=@event_data.count%> Times </h2>

<h2> Hours Breakdown </h2>
  <% @request_hours.each do |data, count| %>
  <%= erb :'partials/_print_list', locals: {data: data, count: count} %>
    <%end%>
