<DOCTYPE! html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<html>
<head>
​
​
<style>
  body {
    background-image: url("https://s3.amazonaws.com/ooomf-com-files/8H0UdTsvRFqe03hZkNJr_New%20York%20-%20On%20the%20rock%20-%20Empire%20State%20Building.jpg");
        }
</style>
​
<body>
  <div class= "navbar navbar-default col-md-12">
    <a href='/' class='navbar-brand' id="greeting">Premiere Data Software</a>
      <ul class="nav navbar-nav navbar-right navbar-danger">
      </ul>
  </div>
​
  <!-- <div class="jumbotron"> -->
  <div class='container'>
    <div class ="col-md-12">
    <h1><font face="verdana" color="black" font size ="10"><p class="text-left">Welcome</p></font></h1>
    <h1><font face="verdana" color="black" font size ="10"><p class="text-left">Traffic</p></font></h1>
    <h1><font face="verdana" color="black" font size ="10"><p class="text-left">Spyer!</p></font></h1>
​
  </div>
</div>
​
</body>
  <blockquote class="blockquote-reverse">
  <p>"Without Traffic Spy, my business never would have made it past last year."</p>
  <footer>- Another satisfied customer</footer>
  </blockquote>
