<html>
<head>
  <meta charset="utf-8">
  <title>Traffic Spy</title>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/application.css">
</head>

<body>
  <nav>
    <img class="logo" src="https://s3.amazonaws.com/ooomf-com-files/8H0UdTsvRFqe03hZkNJr_New%20York%20-%20On%20the%20rock%20-%20Empire%20State%20Building.jpg" alt="books">
  </nav>
    <%= yield %>

</body style="margin-bottom: 24px">

<!-- <nav class="navbar-brand navbar-fixed-bottom" style="background-color: white">
  <div class="container">
    <ul class="list-inline">
      <li><a href="/" style="color: #777" id="bottom_nav_home">Home</a></li>
      <li><a href="/robots" style="color: #777" id="bottom_nav_index">Robot Index</a></li>
      <li><a href="/robots/new" style="color: #777" id="bottom_nav_new">New Robot</a></li>
    </ul>
  </div>
</nav> -->
</html>
