<h1> <%= @message %> </h1>

<h2>  Longest Response Time  </h2>

<%=@source.longest_response_time(@full_url)%><br>


<h2> Shortest Response Time </h2>
<%=@source.shortest_response_time(@full_url)%><br>

<h2> Average Response Time </h2>

<h2> HTTP Verbs Have Been Used </h2>

<h2> Most Popular Referrers </h2>

<h2> Most Popular User Agents </h2>
